%header.header
  .header__inner
    .header-upper
      %h1.header-upper__left
        = link_to root_path, class: "header-upper__left-link" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3112359103", size: "134x36", alt: "mercari"
      %form.header-upper__right{action: '/'}
        %input.header-upper__search{type: "search", name: "keyword", placeholder: "キーワードから探す"}
        %i.fa.fa-search.header-upper__icon
    .header-lower
      %nav.header-lower__left
        %ul.header-find
          %li.header-find__list.header-find__list--first
            %h2.header-find__title
              = link_to root_path, class: "header-find__root" do
                カテゴリーから探す
          %li.header-find__list
            %h2.header-find__title
              = link_to root_path, class: "header-find__root" do
                ブランドから探す
      .header-lower__right
        %ul.header-nav
          %li.header-nav__list.header-nav__list--first
            .header-mypage
              = link_to root_path, class: "header-mypage__link" do
                %figure.header-mypage__figure
                  %div.header-mypage__icon
                    = image_tag "//static.mercdn.net/thumb/members/150864990.jpg?1471007375#", size: "32"
                %div.header-mypage__title マイページ
          %li.header-nav__list
            .header-notification
              = link_to root_path, class: "header-notification__link" do
                %i.fa.fa-bell.header-notification__icon
                %span.header-notification__title お知らせ
          %li.header-nav__list
            .header-todos
              = link_to root_path, class: "header-todos__link" do
                %i.fa.fa-check.header-todos__icon
                %span.header-todos__title やることリスト
