%footer.single-footer
  .single-footer__wrapper
    %ul.single-footer-nav
      %li.single-footer-nav__list
        = link_to "", class: "single-footer-nav__link" do
          プライバシーポリシー
      %li.single-footer-nav__list
        = link_to "", class: "single-footer-nav__link" do
          メルカリ利用規約
      %li.single-footer-nav__list
        = link_to "", class: "single-footer-nav__link" do
          特定商取引に関する表記
    = link_to root_path, class: "single-footer-logo" do
      = image_tag("logo-gray.svg", class: "single-footer-logo__image", alt: "mercari")
    %p.single-footer-copyright
      %small.single-footer-copyright__small
        © 2019 Mercari
